html {
    background-color: #F6F4EF;
    font-size: 62.5%;
}

section {
    margin: 80px 0;
}

header {
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            margin-left: 20px;
        }
    }
}

h1 {
    font-size: 8rem;
    color: #666;
    &+p {
        font-size: 3.2rem;
        color: #D1C062;
        span {
            color: #A03C44;
        }
    }
}



h2 {
    font-size: 4.8rem;
    text-align: center;
    color: #D1C062;
    margin-bottom: 60px;
    span {
        display: block;
        font-size: 1.6rem;
        color: #999;
    }

    &+p {
        font-size: 20px;
        color: #666;
        text-align: center;
        line-height: 1.7;
    }
}
