

// カラー変数
$mc01: #fff;
$mc02: #666;
$mc03: #A03C44;
$mc04: #cab32d;
$mc05: #1a484c;
$mc06: #ccc;
$mc07: #999;

$sp: 768px; // スマホ
$pc: 769px; // PC

@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

// @font-face {
//     font-family: 'Work Sans';
//     src: url("~@/assets/fonts/WorkSans-Regular.ttf") format('truetype');
//   }

body {
    box-sizing: border-box;
}
